<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Expense Tracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav sm:bg-dark">
                <a class="nav-link" href="/add_expense">Add</a>
                <a class="nav-link" href="/expense">History</a>
                <a class="nav-link" href="/logout">Logout</a>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <h3>Expenses</h3>
        <h4>{{duration}}</h4>
    </div>

    <table class="table table-light">
        {{#each expenses}}
        <tr>
            <td>
                <button type="button" class="btn btn-primary" data-bs-toggle="collapse"
                    data-bs-target="#{{@key}}">{{@key}}</button>
                {{#if this.expenses}}
                <div id="{{@key}}" class="collapse">
                    <table style="margin-top: 2em;" class="table table-light">
                        <tr>
                            <th>Category</th>
                            <th>Amount</th>
                            <th>Date</th>
                        </tr>
                        {{#each this.expenses}}
                        <tr>
                            <td>{{category}}</td>
                            <td>R{{amount}}</td>
                            <td>{{formatDate date}}</td>
                        </tr>
                        {{/each}}
                    </table>
                </div>
                {{/if}}
            </td>
            <td>
                <h4>R{{this.amount}}</h4>
            </td>
        </tr>
        {{/each}}
    </table>
    <div class="row">
        <form method="post">
            <input type="hidden" name="name" value="{{name}}">
            <div class="col-12">
                <label for="days">Days</label><br>
                <input type="number" name="days" id="days">
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Filter</button>
            </div>
        </form>
    </div>
</div>